$large:1500px;
$med_min:992px;
$med_max:1439px;
$tab_max:1024px;
$tab_maxi:991px;
$tab_min:768px;
$smob_max:767px;
$smob_min:480px;
$mob_max:479px;
$mob_min:240px;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 100%;
}

#header {
    .navbar {
        @media (min-width: $mob_min) and (max-width: $tab_min) {
            flex-direction: row-reverse;
        }

        .mob-dropdown {
            display: none;

            @media (min-width: $mob_min) and (max-width: $tab_min) {
                display: block;
            }

            .dropdown {
                .btn {
                    background-color: #000;
                    color: #fff;
                    font-size: 13px;
                    border-radius: 0;
                }

                @media (min-width: $mob_min) and (max-width: $tab_min) {
                    .dropdown-menu {
                        left: auto !important;
                        right: 0 !important;
                    }
                }

            }
        }

        .navbar-toggler {
            i {
                color: #000;

                &:focus {
                    box-shadow: none !important;
                    outline: 0;
                }
            }
        }

        .navbar-brand {
            width: 18%;
            text-align: center;

            a {
                text-decoration: none;

                .logo {
                    color: #000;
                }
            }
        }

        .navbar-nav {
            .nav-item {
                padding-left: 2.3rem;
                padding-right: 3rem;

                @media (max-width: $tab_max) {
                    padding-left: 21px;
                    padding-right: 0rem;
                }

                .nav-link {
                    font-size: 13px;
                    font-weight: 600;
                    color: #221F20;
                    text-transform: uppercase;
                }

                .dropdown {
                    @media (min-width: $mob_min) and (max-width: $tab_min) {
                        display: none;
                    }

                    .btn {
                        background-color: #000;
                        color: #fff;
                        font-size: 13px;
                        border-radius: 0;
                    }
                }
            }

            .nav-items {
                padding-left: 1rem;
                padding-right: 1rem;

                @media (min-width: $mob_min) and (max-width: $tab_min) {
                    margin-top: 10px;
                }

                .nav-link {
                    font-size: 13px;
                    font-weight: 600;
                    color: #ffffff;
                    text-transform: uppercase;
                    padding: 11px 17px;
                }
            }
        }

        .navbar-menu {
            position: relative;
            list-style: none;
            text-align: center;
            display: none;
            padding-left: 0;

            @media (min-width: $mob_min) and (max-width: $tab_min) {
                display: block;
            }

            .nav-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 30px;

                .nav-link {
                    font-size: 13px;
                    font-weight: 600;
                    color: #221F20;
                    text-transform: uppercase;
                }

                img {
                    position: absolute;
                    top: 20px;
                    width: 18%;
                    z-index: -1;
                    @media (max-width: $tab_max) {
                        top: 19px;
                        width: 7%;
                    }
                    @media (max-width: $tab_min) {
                        top: 19px;
                        width: 7%;
                    }

                    @media (min-width: $mob_min) and (max-width: $smob_min){
                        top: 18px;
                        width: 14%;
                    }
                }

                .btn {
                    color: #fff;
                    border-radius: 0;
                    padding: 13px 21px;
                }

            }

            .user {
                color: #fff;
                border-radius: 0;
            }

            .cart {
                color: #fff;
                border-radius: 0;
            }
        }
    }
}

#banner {
    .banner_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .left-content {
            position: relative;
            margin-top: 4rem;

            @media (min-width: $mob_min) and (max-width: $tab_min) {
                margin-top: 2rem;
            }

            @media (max-width: $tab_min) {
                text-align: center;
            }

            @media (min-width: $mob_min) and (max-width: $smob_min) {
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: center;
            }

            h1 {
                text-transform: uppercase;
                font-size: 33px;
                line-height: 51px;

                @media (max-width: $tab_max) {
                    font-size: 23px;
                    line-height: 38px;
                    font-weight: 600;
                }

                @media (max-width: $tab_min) {
                    font-size: 33px;
                    line-height: 51px;
                }

                @media (min-width: $mob_min) and (max-width: $smob_min) {
                    font-size: 24px;
                    line-height: 38px;
                }
            }

            .image {
                position: absolute;
                top: 37px;
                z-index: -1;
                width: 67%;
                right: 0;

                @media (max-width: $tab_max) {           
                position: absolute;
                z-index: -1;
                width: 63%;
                top: 30px;
                right: 7px;

                }

                @media (min-width: $mob_min) and (max-width: $tab_min) {
                  display: none;
                }
             
            }
        }

        .right-content {
            margin-top: 11rem;

            @media (min-width: $mob_min) and (max-width: $tab_min) {
                margin-top: 3rem;
            }

            p {
                text-align: justify;
            }
        }

    }
}